@import 'compass'
@import 'compass/reset'

$color--fancy: #22C682
$color--second: #A1D8E6

.box
  background: #fff
  width: 50%

#main-chart,
  height: 300px
  margin: 20px

#main-chart2
  height: 50px
  max-width: 200px

#progress-table
  width: 100%

  td
    text-align: center

  .percents,
  .value
    width: 50px

  .name
    text-align: left
    width: 100px
    padding-left: 10px

  tr
    border-top: 1px #B0B0B0 dotted
    height: 50px

  .progress
    padding: 10px

    .progress-container
      background: #F2F2F2
      display: block
      height: 4px

    .progress-bar
      display: block
      float: left
      background: $color--fancy
      height: 100%

.pie-chart
  height: 500px
  width: 50%

body
  font: 12px Arial
  background: #F2F2F2

.mini-chart
  .area
    fill: $color--second
    stroke-width: 0

.main-chart
  path
    stroke: $color--fancy
    stroke-width: 2
    fill: none

  .area
    fill: $color--fancy
    stroke-width: 0

.axis
  @extend %doted-line
  text
    fill: #7F7F7F

.grid
  @extend %doted-line

  path
    stroke-width: 0 !important

.point
  stroke-width: 2px
  stroke: $color--fancy
  fill: #ffffff

%doted-line
  line,
  path
    fill: none
    stroke-width: 1
    shape-rendering: crispEdges
    stroke: #000
    opacity: 0.3
    stroke-dasharray: 2px, 2px

.axis-x path
  stroke-width: 0
