@import 'compass'

body
  font: 12px Arial
  background: #F2F2F2

path
  stroke: #22C682
  stroke-width: 2
  fill: none

.area
  fill: #22C682
  stroke-width: 0

.axis
  @extend %doted-line
  text
    fill: #7F7F7F

.grid
  @extend %doted-line

  path
    stroke-width: 0 !important

.point
  stroke-width: 2px
  stroke: #22C682
  fill: #ffffff

%doted-line
  line,
  path
    fill: none
    stroke-width: 1
    shape-rendering: crispEdges
    stroke: #000
    opacity: 0.3
